.countryContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 35px;
    margin-bottom: 35px;
}

.countryContainer > * 
{
    margin: 10px;
}
