.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-light{
    background-color: f8f9fa;
    border-bottom: 0.5px solid #b5b5b582;
}
.nav-dropdown{
    padding-top: .5rem;
}
