
#body {
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    margin:0;
}
.footer{
    margin-top: auto;
}
#app {
    min-height: 100%;
    position: relative;
    min-width: 100%;
} 